extends layout

block content
  ul.elsewhere
    li
      a.github(href='http://github.com/ecarter') github
    li
      a.coderwall(href='http://coderwall.com/ecarter') coderwall
    li
      a.dribble(href='http://dribbble.com/ecarter') dribble
    li
      a.twitter(href='http://twitter.com/dnvsfn') twitter
    li
      a.email(href='mailto:me@erincarter.com') me@erincarter.com
