extends layout

block content
  ul.elsewhere
    li
      a.github(href='http://github.com/ecarter', title="github")
        i.icon-github
        span github.com/ecarter
    li
      a.coderwall(href='http://coderwall.com/ecarter', title="coderwall")
        i.icon-coderwall
        span coderwall.com/ecarter
    li
      a.dribble(href='http://dribbble.com/ecarter', title="dribbble")
        i.icon-dribbble
        span dribbble.com/ecarter
    li
      a.twitter(href='http://twitter.com/dnvsfn', title="twitter")
        i.icon-twitter
        span twitter.com/dnvsfn
    li
      a.email(href='mailto:me@erincarter.com', title="email")
        i.icon-email
        span me@erincarter.com
