doctype 5
html(lang="en")
  head
    title Erin Carter - Creative Coder / Artist
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='assets/icons.css')
  body
    .outer
      header
        h1 Erin Carter
        p Creative Coder / Artist
      .content
        block content


