body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fff;
  font: 16px "Helvetica Neue", helvetica, arial, sans-serif;
  line-height: 1.2em;
}
a {
  color: rgba(255,255,255,0.4);
  text-decoration: none;
}
a:hover {
  color: #fff;
}
.outer {
  width: 100%;
  display: block;
  margin: 60px auto 0;
}
header {
  display: none;
}
.content {
  padding: 0 20px;
}
ul {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
}
ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  width: 20%;
  line-height: 80px;
  text-align: center;
}
ul li a span {
  display: block;
  letter-spacing: 1px;
}
@media (max-width: 870px) {
  ul li {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .outer {
    max-width: 1200px;
  }
}
