@import 'node_modules/nib'

body, html
  width 100%
  height 100%

body
  margin 0
  padding 0
  background #222
  color white
  font 16px "Helvetica Neue", helvetica, arial, sans-serif
  line-height 1.25em
  background url(assets/images/background_hd.jpg)
  background-size 100% 100%
  background-repeat no-repeat

a
  transition color 0.3s ease-in-out
  color white
  text-decoration none

  &:hover
    color white

.outer
  clearfix()
  margin 0 auto
  display block
  padding 2em
  max-width 960px

header

  h1
    font-weight normal
    color #ddd
    line-height 2em
    margin 0

  p
    font-style italic
    color #888
    margin 1em 0 0

.content
  clearfix()
  padding 2em 0 0

ul
  margin 0
  padding 0
  color #666
  font-size 0.5em
  line-style none

  li
    margin 0 1em 0 0
    padding 0
    display inline-block

    a
      color #666

@media (max-width: 420px)

  body
    font-size 1em

@media (max-width: 1199px)

  body
    font-size 1.5em
    line-height 1em

  header
    h1
      font-size 1.25em
      line-height 1em
    p
      font-size 0.75em

@media (min-width: 1200px)

  body
    font-size: 2em
