@import 'node_modules/nib'
@import 'assets/icons.css'

body
  margin 0
  padding 0
  background #222
  color white
  font 16px "Helvetica Neue", helvetica, arial, sans-serif
  line-height 1.2em

a
  transition color 0.3s ease-in-out
  //color rgba(white, 0.7)
  color white
  text-decoration none

  &:hover
    color white

.outer
  clearfix()
  width 100%
  margin 0 auto
  display block

header
  display none

.content
  clearfix()
  padding 20px

ul
  margin 0
  padding 0
  list-style none
  line-height 1.6em

  li
    margin 0
    padding 0
    display inline-block
    float left
    width 20%
    line-height 100px
    text-align center
    overflow hidden

    a
      display block
      padding 20px 0 0 0

      [class^='icon-']
        display block
        transition all 0.3s

      &:hover
        [class^='icon-']
          transform scale(1.2)

.github
  background black

.dribbble
  background #EA4C89

.coderwall
  background #1F8ACE

.twitter
  background #00ACED

.email
  background #4D4D4D

[class^='icon-']
  font-size 80px

@media (max-width: 420px)

  ul
    li
      line-height 60px

      a
        font-size 11px

        [class^='icon-']
          font-size 60px

@media (max-width: 1199px)
  ul
    li
      width 50%

@media (min-width: 1200px)
  .outer
    max-width 1200px

  .content
    margin-top 200px

  ul
    li
      a
        &:hover
          [class^='icon-']
            transform scale(1.4)
        
